<div class="form-group left-label">
  <%# DeleteThis - change left label width as needed but make sure all inputs on form match %>
  <%# DeleteThis - add class justify-start to make label align left instead of right %>
  <div class="left-label-container w-20">
    <%= f.label :ChangeLabel, 'ChangeLabelDisplay:' %>
  </div>
  <div class="left-label-input-container">
    <div class="left-label-input4">
      <%# DeleteThis - insert input %>
      <%= f.inline_errors :ChangeAttribute %>
    </div>
    <div class="left-label-input4">
      <%# DeleteThis - insert input %>
      <%= f.inline_errors :ChangeAttribute %>
    </div>
    <div class="left-label-input4">
      <%# DeleteThis - insert input %>
      <%= f.inline_errors :ChangeAttribute %>
    </div>
    <div class="left-label-input4">
      <%# DeleteThis - insert input %>
      <%= f.inline_errors :ChangeAttribute %>
    </div>
  </div>
</div>
