<%# DeleteThis - default for group of checkboxes is inline. To make stacked, remmove class inline to div below (or add inline-no-wrap for no wrapping) %>
<div class="checkable-group-container inline">
  <%# DeleteThis - duplicate checkbox-and-errors-container as needed, or if only one checkbox is needed and no label, then simply keep one checkable-container and remove the label %>
  <div class="checkbox-and-errors-container">
    <div class="checkable-container">
      <%= f.check_box :ChangeAttribute,
        class: 'form-control',
        autofocus: ChangeOrRemove,
        checked: ChangeOrRemove,
        disabled: ChangeOrRemove
      %>
      <%= f.label :ChangeAttribute, 'ChangeAttributeDisplay', class: 'checkable-left' %>
    </div>
    <%= f.inline_errors :ChangeAttribute %>
  </div>
  <div class="checkbox-and-errors-container">
    <div class="checkable-container">
      <%= f.check_box :ChangeAttribute,
        class: 'form-control',
        autofocus: ChangeOrRemove,
        checked: ChangeOrRemove,
        disabled: ChangeOrRemove
      %>
      <%= f.label :ChangeAttribute, 'ChangeAttributeDisplay', class: 'checkable-left' %>
    </div>
    <%= f.inline_errors :ChangeAttribute %>
  </div>
</div>
